# Data Science Tools and Ecosystem

## Author
Tiffany Ho

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**
- List popular languages used by Data Scientists
- List commonly used libraries used by Data Scientists
- List a few open-sourced data science tools
- Show a few examples of simple expressions using Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists includes:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools|
--------------------
|Jupyter Notebook|
|RStudio|
|PostGreSQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60

x=200

hour=x/60
print(hour)

3.3333333333333335